<%-include('header')-%>


<div style="padding: 20px;" class="col-12">
    <% if (message) { %>
        <div class="alert alert-<%= message.type %> alert-dismissible fade show" role="alert" id="alert">
            <strong><%= message.message %></strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% } %>
    <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">ALL PRODUCTS</h6>
        <div class="table-responsive">
            <table style="text-align: center;" class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Stock</th>
                        <th scope="col">Price</th>
                        <th scope="col">Description</th>
                        <th scope="col">Category</th>
                        <th scope="col">Image</th>
                        <th scope="col">Action</th>

                    </tr>
                </thead>
                <tbody>
                    <% product.forEach((row,index)=>{ %>
                        <% if(row.isAvailable === true) { %>
                            <tr>
                                <th scope="row"><%=index+1 %></th>
                                <td><%=row.name %></td>
                                <td><%=row.stock %></td>
                                <td><%=row.price %></td>
                                <td><%=row.description %></td>
                                <td><%=row.category %></td>
                                <% row.images.forEach(image => { %>
                                <td style="display: block;"><img style="width: 50px;" src="/img/<%= image %>" alt=""></td>
                                <% }) %>
                                <td>
                                    <a id="show-alert" href="/admin/updateproduct/<%= row._id %>" class="text-sucess"><i class="fas fa-edit fa-lg mx-1"></i></a>
                                    <a onclick="checker()" href="/admin/productdelete/<%= row._id %>" class="text-danger"><i class="fas fa-trash fa-lg mx-1"></i></a>
                                </td>
                            </tr>
                        </tbody>
                        <% } %>
                <% }) %>
            </table>
        </div>
    </div>
</div>
<script>
    function checker() {
      const result=confirm('Are You Sure You Want to Delete?');
      if(result==false){
        event.preventDefault();
      }
    }
  
    setTimeout(function() {
        var alertDiv = document.getElementById('alert');
        if (alertDiv) {
          alertDiv.remove();
        }
      }, 5000);
      
</script>

<%-include('footer')-%>
